* {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
}

body {
    background: #F9F9F9;
}

#intro {
    background: #110B0F;
}

#intro:after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo:after {
    content: "";
    clear: both;
    display: block;
}

header {
    margin: 0;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

body,
ul,
li {
    padding: 0;
}

p,
li,
h1,
h2,
h4,
h3 {
    color: #4e4e4e;
}

header #intro {
    padding: 20px 10px;
}

input[type="checkbox"] , label{
    display: none;
}

header .logo {
    text-indent: -10000px;
    background: url(Img/kubb_03.jpg) no-repeat;
    width: 130px;
    height: 40px;
    float: left;
    margin: 0;
}

nav h6 {
    margin: 0;
    text-indent: -10000px;
}

nav ul{
    float: right;
}

ul {
    list-style-type: none;
}

header nav ul:after {
    clear: both;
    content: "";
    display: block;
}

header nav ul li {
    float: left;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

header nav ul li .home {
    color: #1ABB9C;
}

#lead-banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

#lead-banner img {
    width: 100%;
    max-height: 500px;
}

.section-one h2 {
    margin: auto 10pc;
    width: 70%;
    font-size: 30px;
    font-family: Courier;
    text-align: center;
    font-weight: 500;
}

.section-one h4 {
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

.border {
    border-top: 10px double gray;
    margin-top: 60px;
    width: 50%;
    margin: 70px auto 0;
}

.h3 {
    width: 60%;
    text-align: center;
    margin: 10px auto 40px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    top: -27px;
    background: #F9F9F9;
}

.section-one ul li {
    float: left;
    width: 32%;
    background: #fff;
    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}

.section-one ul img {
    width: 90%;
    padding: 5%;
}

.section-one ul li:nth-child(2) {
    margin: 0 2%;
}

.section-one ul:after {
    clear: both;
    content: "";
    display: block;
}

.section-one ul li h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.section-one ul li p {
    width: 94%;
    margin: 0 3%;
    text-align: center;
    line-height: 2em;
    font-size: 14px;
}

.section-two {
    background: #2c2c2c;
    padding: 60px 10px;
    margin-top: 70px;
}

.latest-insta-shots {
    border-top: 6px double white;
    width: 60%;
    margin: 0 auto;
}

.latest-insta-shots h2 {
    position: relative;
    top: -20px;
    background: #2c2c2c;
    text-align: center;
    margin-bottom: 50px;
    color: #D5D5D5;
    font-size: 25px;
    text-transform: uppercase;
    width: 60%;
    margin: 0 auto;
}

.section-two ul li {
    float: left;
    width: 19%;
}

.section-two ul:after {
    clear: both;
    content: "";
    display: block;
}

.section-two ul li:nth-child(even) {
    margin: 0 1%;
}

.section-two ul li img {
    width: 100%;
    height: 12em;
    transition: 1s;
}


.section-two ul li img:hover {
    transform: rotateY(360deg) scale(0.8);
}

.section-two a {
    text-decoration: none;
    color: #D5D5D1;
    text-align: center;
    width: 20%;
    padding: 10px auto;
    display: block;
    margin-top: 40px;
    margin-left: 40%;
    border: 1px solid white;

}

.section-three {
    margin-top: 60px;
}


.section-three .journal {
    text-align: center;
    color: #444444;
    font-size: 20px;
    text-transform: uppercase;
    border-top: 5px double #eee;
    width: 50%;
    margin: 0 auto 40px;
}

.journal h2 {
    position: relative;
    top: -20px;
    background: #f9f9f9;
    width: 70%;
    margin: 0 auto;
}

.section-three ul li {
    float: left;
    width: 32%;
    background: #fff;
    border-bottom: 2px solid #8a8888;
    border-top: 2px solid #8a8888;
}

.section-three ul li:nth-child(2) {
    margin: 0 2%;
}

.section-three ul li img {
    width: 100%;
}

.section-three ul li h2 {
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
}

.section-three ul li h4 {
    font-size: 13px;
    color: #B6B6B6;
    text-align: center;
    margin-bottom: 15px;
}

.section-three ul li p {
    text-align: center;
    color: #8f8888;
    width: 96%;
    margin: 10px 2%;
    line-height: 1.6em;
}

.section-three ul li a {
    text-decoration: underline;
    color: gray;
    text-decoration-color: #1e3ee0;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
}

.section-three ul li h6 {
    float: right;
    background: url("Img/heart.png") no-repeat;
    padding-left: 20px;
    margin-bottom: 20px;
}

.section-three ul:after {
    clear: both;
    content: "";
    display: block;
}

.section-four {
    margin-top: 60px;
}

.about-me img {
    float: left;
    padding-right: 15px;
}

.about-me {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.about-me h1 {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.about-me .one {
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
}

.about-me .two {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    line-height: 1.3em;
    margin-top: 20px
}

.about-me:after {
    clear: both;
    content: "";
    display: block;
}

.section-four:after {
    clear: both;
    content: "";
    display: block;
}

.services ul li h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin: 5px 0;

}

.services {
    margin-top: 20px;
}

.services h1 {
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.first {
    padding-left: 70px;
    background: url("Img/kubb_62.jpg") no-repeat;
    margin-bottom: 15px;
}

.first h4,
.second h4,
.third h4 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.first p,
.second p,
.third p {
    font-size: 16px;
    line-height: 1.6em;

}

.second {
    padding-left: 70px;
    background: url("Img/kubb_65.jpg") no-repeat;
    margin-bottom: 15px;
}

.third {
    padding-left: 70px;
    background: url("Img/kubb_67.jpg") no-repeat;
    margin-bottom: 15px;
}

footer {
    margin-top: 60px;
    background: #373737;
    padding: 40px 10px;
}

footer ul {
    float: left;
    width: 25%;
}

footer ul li {
    width: 80%;
    color: rgba(255, 255, 255, 0.892);
    line-height: 1.6;
    font-size: 14px;
    margin: 15px 0;
}

footer:after {
    content: "";
    clear: both;
    display: block;
}

footer ul h4 {
    color: white;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

#copyright {
    width: 100%;
    clear: both;
    margin: 30px 0;
    border-top: 10px solid black;
    padding: 20px 0 0;
    color: #dddddd;
}

#burger-nav{
    display: none;
}

.tw {
    padding-left: 15px;
    background: url("Img/twitter.jpg") no-repeat;
}

footer li.loc {
    padding-left: 20px;
    background: url("Img/location.jpg") no-repeat;
}

footer li.tel {
    padding-left: 20px;
    background: url("Img/telephone.jpg") no-repeat;
}

footer li.con {
    padding-left: 20px;
    background: url("Img/mess.jpg") no-repeat;
}


@media screen and (max-width: 768px) {
    header .logo {
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    header nav ul li {
        width: 20%;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
    }

    .shots ul li img:hover{
        transform: none;
    }

    .section-one h2 {
        margin-bottom: 10px;
        text-align: center;
        margin: 0 auto;
    }

    .section-one h4 {
        margin: 0 auto;
        font-size: 16px;
        width: 60%;
    }

    .section-two .shots ul li {
        width: 45%;
        float: none;
        margin: 10px auto;
    }

    .section-three ul li {
        width: 70%;
        margin: 10px 15% !important;
    }

    footer ul {
        width: 40%;
        margin: 0 5%;
    }

    footer ul:nth-child(odd) {
        clear: both;
    }
}

@media screen and (max-width: 480px) {
    .section-one h2 {
        width: 80%;
        margin: 10px 10%;
        font-size: 25px;
        font-weight: bold;
    }

    .section-one h4 {
        width: 96%;
        margin: 10px 2%;
        font-weight: bold;
    }

    .border h3 {
        width: 100%;
        margin-bottom: 0;
    }

    .section-one ul li {
        width: 96%;
        margin: 10px 2%;
    }

    .section-one ul li p {
        margin-bottom: 10px;
    }

    .section-two ul li {
        width: 80% !important;
        margin: 20px10%;
    }

    .section-two h2 {
        width: 100%;
    }

    .section-three .journal h2 {
        width: 100%;
    }

    footer ul {
        width: 80%;
        margin: 10px 10%;
    }

    footer ul li {
        width: 100%;
        text-align: center;
        line-height: 1.2em;
    }

    header nav ul li{
        font-size: 0.8rem !important;
    }

}

@media screen and (max-width: 968px){

    header{
        padding: 0 !important;
    }

    header nav ul{
        float: none;
        width: 100%;
        padding: 0;
        height: 0;
        overflow: hidden;
    }

    header nav ul li{
        float: none;
        width: 100%;
        padding:  10px 0;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;
        font-size: 1rem;
    }

    header .wrapper{
        padding: 0;
        width: 100%;
        margin: 0;
    }

    #burger-nav{
        height: 25px;
        display: block;
    }
    
    input[type="checkbox"] {
        display: none;
        margin: 0;
        padding: 0;
        height: 20px;
    }    

     label{
        display: block;
        width: 100%;
        text-indent: -10000px;
        background: url('Img/burger.png') center right;
        background-repeat: no-repeat;
        cursor: pointer;
        box-sizing: border-box;
    }

    input:checked ~ ul{
        height: 100%;
    }

    header .logo{
        width: 150px;
        float: left;
    }

}
