*{
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
}
body{
   background: #F9F9F9; 
}
#intro{
    background: #110B0F;
}
#intro:after{
     content: "";
    clear: both;
    display: block;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}
.logo:after{
    content: "";
    clear: both;
    display: block;
}
header{
    margin: 0;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
body , ul ,li{
    padding: 0;
}
p,li,h1,h2,h4,h3{
    color: #4e4e4e;
}
header #intro{
    padding: 20px 10px;
}
header .logo{
    text-indent: -10000px;
    background: url(Img/kubb_03.jpg) no-repeat;
     width: 180px; 
    height: 40px;
    float: left;
    margin: 0;
}
nav h6{
    margin: 0;
    text-indent: -10000px;
}
ul{
    list-style-type: none;
}
header nav ul:after{
    clear: both;
    content: "";
    display: block;
}
header nav ul li{
    float: left;
    margin-left: 20px;
    font-size: 14px;
}
header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
header nav ul li .home{
    color: #1ABB9C;
}
#lead-banner{
    width: 100%;
    margin: 0;
    padding: 0;
}
#lead-banner img{
    width: 100%;
    max-height: 500px;
}
.section-one h2{
    margin: auto 10pc;
    width: 70%;
    font-size: 30px;
    font-family: Courier;
    text-align: center;
    font-weight: 500;
}
.section-one h4{
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}
.h3{
    width: 30%;
    text-align: center;
    margin: 60px auto;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px inset gray;
}
.section-one ul li{
    float: left;
    width: 32%;
    background: #fff;
    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}
.section-one ul img{
    width: 90%;
    padding: 5%;
}
.section-one ul li:nth-child(2){
    margin: 0 2%;
}
.section-one ul:after{
     clear: both;
    content: "";
    display: block;
}
.section-one ul li h3{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.section-one ul li p{
    width: 94%;
    margin: 0 3%;
    text-align: center;
    line-height: 1.6em;
    font-size: 14px;
}
.section-two{
    background: #2c2c2c;
    padding: 60px 10px;
    margin-top: 70px;
}
.section-two ul li{
    float: left;
    width: 19%;
}
.section-two ul:after{
    clear: both;
    content: "";
    display: block;
}
.section-two ul li:nth-child(even){
    margin: 0 1%;
}
.section-two ul li img{
    width: 100%;
    height: 12em;
    transition: 1s;
}
.section-two h2{
    text-align: center;
    margin-bottom: 50px;
    color: #D5D5D5;
    font-size: 30px;
    text-transform: uppercase;
}
.section-two ul li img:hover{
    transform: rotateY(360deg) scale(0.8);
}
.section-two a{
    text-decoration: none;
    color: #D5D5D1;
    text-align: center;
    width: 20%;
    padding: 10px auto;
    display: block;
    margin-top: 40px;
    margin-left: 40%;
    border: 1px solid white;
}
.section-three{
    margin-top: 60px;
}
.section-three .journal{
    text-align: center;
    margin-bottom: 40px;
    color: #444444;
    font-size: 20px;
    text-transform: uppercase;
}
.section-three ul li{
    float: left;
    width: 32%;
    background: #fff;
    border-bottom: 2px solid #8a8888;
    border-top: 2px solid #8a8888;
}
.section-three ul li:nth-child(2){
    margin: 0 2%;
}
.section-three ul li img{
    width: 100%;
}
.section-three ul li h2{
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
}
.section-three ul li h4{
    font-size: 13px;
    color: #B6B6B6;
    text-align: center;
    margin-bottom: 15px;
}
.section-three ul li p{
    text-align: center;
    color: #8f8888;
    width: 96%;
    margin: 10px 2%;
    line-height: 1.6em;
}
.section-three ul li a{
    text-decoration: underline;
    color: gray;
    text-decoration-color: #1e3ee0;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
}
.section-three ul li h6{
    float: right;
    background: url("Img/heart.png") no-repeat;
    padding-left: 20px;
    margin-bottom: 20px;
}
.section-three ul:after{
    clear: both;
    content: "";
    display: block;
}
.section-four{
    margin-top: 60px;
}
.about-me img{
    float: left;
    padding-right: 15px;
}
.about-me{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.about-me .one{
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
}
.about-me .two{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    line-height: 1.6em;
    margin-top: 20px
}
.about-me:after{
     clear: both;
    content: "";
    display: block;
}
.section-four:after{
     clear: both;
    content: "";
    display: block;
}
.services ul li h2{
    text-transform: capitalize;
    font-size: 30px;
    margin: 5px 0;
    
}
.services{
   margin-top: 20px;
}
.services h1{
    font-size: 26px;
    text-transform: capitalize;
}
.first{
    padding-left: 70px;
    background: url("Img/kubb_62.jpg") no-repeat;
    margin-bottom: 15px;
}
.first h4,.second h4 , .third h4{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.first p,.second p , .third p{
    font-size: 16px;
    line-height: 1.6em;
    
}
.second{
    padding-left: 70px;
    background: url("Img/kubb_65.jpg") no-repeat;
    margin-bottom: 15px;
}
.third{
    padding-left: 70px;
    background: url("Img/kubb_67.jpg") no-repeat;
    margin-bottom: 15px;
}